.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.card {
  padding: 1rem 1.2rem;
  border-radius: 2px;
  background: lightpink;
  border: 1px solid #c0c0c0;
}




.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}


.input {
	box-sizing: border-box;
    display: inline-block;
	  float: left;
    line-height: normal;
    margin: 0 10px 0 0;
    width: 100%;
    padding: 10px 8px;
	  font-size: 16px;
    font-weight: 700;
	  line-height: 1;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  float: left;
  margin: 0;
  padding: 5px 8px;
  border: 0;
  color: black;
  background: orange;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;

  vertical-align: middle;
  overflow: hidden;
}

  .button:active {
      outline: 0;
  }







